body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

#root {
    padding: 0;
    min-height: max-content;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-max-600 {
    max-width: 600px;
}

.container-max-400 {
    max-width: 400px;
}

.boton-menu-form {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.disabled-link {
    cursor: not-allowed;
    pointer-events: none;
}

.dt-rotate {
    transform: rotate(45);
    transition: 1s;
}

.dt-rotate::active {
    transform: rotate(90);
}